html {
    scroll-behavior: smooth;
}

wrapper {
    font-family: Arial, Helvetica, sans-serif;
    color: cornsilk;
    padding: 0;
    margin: 0;
    position: fixed;
    box-sizing: border-box;
}

.background-1 {
    background-image: url('../images/Port-images/leaves.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 96vh;
    width: 100vw;
}

.container {
    position: relative;
}

.main-text {
    background: rgba(0 ,0 , 0, 0.6);
    font-weight: bolder;
    position: relative;
    top: 28vh;
    width: 90vw;
    text-align: center;
    margin: auto;
    border-radius: 5%;

}
@media (max-width: 375px) {
    .main-text {
        font-size: 10vw;
        top: 30vh;
    }
}
@media (min-width: 375px) {
    .main-text {
        font-size: 10vw;
        top: 30vh;
    }
}
@media (min-width: 576px) {
    .main-text {
        font-size: 8vw;
        top: 28vh;
    }
}
@media (min-width: 768px) {
    .main-text {
        font-size: 6vw;
    }
}
@media (min-width: 1024px) {
    .main-text {
        font-size: 6vw;
    }
}
@media (min-width: 1200px) {
    .main-text {
        font-size: 6vw;
    }
}

.body-text {
    background: rgba(0,0, 0, 0.6);
    font-size: 4vw;
    font-weight: bold;
    position: relative;
    top: 15vh;
    width:60vw;
    text-align: center;
    margin: auto;
    border-radius: 5%;
}
@media (max-width: 375px) {
    .body-text {
        font-size: 8vw;
        width: 80vw;
    }
}
@media (min-width: 375px) {
    .body-text {
        font-size: 8vw;
        width: 80vw;
    }
}
@media (min-width: 576px) {
    .body-text {
        font-size: 7vw;
        width: 70vw;
    }
}
@media (min-width: 768px) {
    .body-text {
        font-size: 5vw;
        width: 60Vw;
    }
}
@media (min-width: 1024px) {
    .body-text {
        font-size: 5vw;
    }
}
@media (min-width: 1200px) {
    .body-text {
        font-size: 5vw;
    }
}

#skill-1 {
    background: rgba(0,0, 0, 0.6);
    position: relative;
    margin: auto;
    top: 27vh;
    left: 5vw;
    float: left;
    text-align: center;
    width: 35%;
    border-radius: 5%;
}
@media (max-width: 375px) {
    #skill-1 {
        top: 25vh;
        left: 14vw;
        width: 70%;
    }
}
@media (min-width: 375px) {
    #skill-1 {
        top: 25vh;
        left: 14vw;
        width: 70%;
    }
}
@media (min-width: 576px) {
    #skill-1 {
        top: 32vh;
        left: 5vw;
        width: 42%;
    }
}
@media (min-width: 768px) {
    #skill-1 {
        top: 29vh;
        left: 5vw;
        width: 42%;
    }
}
@media (min-width: 1024px) {
    #skill-1 {
        top: 30vh;
        left: 5vw;
        width: 35%;
    }
}

#skill-2 {
    background: rgba(0,0, 0, 0.6);
    position: relative;
    margin: auto;
    top: 27vh;
    right: 5vw;
    float: right;
    text-align: center;
    width: 35%;
    border-radius: 5%;
}
@media (max-width: 375px) {
    #skill-2 {
        top: 31vh;
        right: 14vw;
        width: 70%;
    }
}
@media (min-width: 375px) {
    #skill-2 {
        top: 31vh;
        right: 14vw;
        width: 70%;
    }
}
@media (min-width: 576px) {
    #skill-2 {
        top: 32vh;
        right: 5vw;
        width: 42%;
    }
}
@media (min-width: 768px) {
    #skill-2 {
        top: 29vh;
        right: 5vw;
        width: 42%;
    }
}
@media (min-width: 1024px) {
    #skill-2 {
        top: 30vh;
        right: 5vw;
        width: 35%;
    }
}

#skill-3 {
    background: rgba(0,0, 0, 0.6);
    position: relative;
    margin: auto;
    top: 32vh;
    left: 5vw;
    float: left;
    text-align: center;
    width: 35%;
    border-radius: 5%;
}
@media (max-width: 375px) {
    #skill-3 {
        top: 37vh;
        left: 14vw;
        width: 70%;
    }
}
@media (min-width: 375px) {
    #skill-3 {
        top: 36vh;
        left: 14vw;
        width: 70%;
    }
}
@media (min-width: 576px) {
    #skill-3 {
        top: 48vh;
        left: 5vw;
        width: 42%;
    }
}
@media (min-width: 768px) {
    #skill-3 {
        top: 48vh;
        right: 5vw;
        width: 42%;
    }
}
@media (min-width: 1024px) {
    #skill-3 {
        top: 46vh;
        left: 5vw;
        width: 35%;
    }
}

#skill-4 {
    background: rgba(0,0, 0, 0.6);
    position: relative;
    margin: auto;
    top: 32vh;
    right: 5vw;
    float: right;
    text-align: center;
    width: 35%;
    border-radius: 5%;
}
@media (max-width: 375px) {
    #skill-4 {
        top: 44vh;
        right: 14vw;
        width: 70%;
    }
}
@media (min-width: 375px) {
    #skill-4 {
        top: 42vh;
        right: 14vw;
        width: 70%;
    }
}
@media (min-width: 576px) {
    #skill-4 {
        top: 48vh;
        right: 5vw;
        width: 42%;
    }
}
@media (min-width: 768px) {
    #skill-4 {
        top: 48vh;
        right: 5vw;
        width: 42%;
    }
}
@media (min-width: 1024px) {
    #skill-4 {
        top: 46vh;
        right: 5vw;
        width: 35%;
    }
}


.pic-tab-left {
    background-size: cover;
    background-color: white;
    width: 75px;
    height: 75px;
    border-radius: 20%;
    float: left;
}
@media (max-width: 375px) {
    .pic-tab-left {
        width: 50px;
        height: 50px;
    }
}
@media (min-width: 375px) {
    .pic-tab-left {
        width: 58px;
        height: 58px;
    }
}
@media (min-width: 576px) {
    .pic-tab-left {
        width: 68px;
        height: 68px;
    }
}
@media (min-width: 768px) {
    .pic-tab-left {
        width: 75px;
        height: 75px;
    }
}
@media (min-width: 1024px){
    .pic-tab-left {
        width: 75px;
        height: 75px;
    }
}


.pic-text-left {
   font-size: 4vh;
   text-align: center;
   padding-top: 3vh;
   padding-left: 0vh;
   font-weight: bold;
}
@media (max-width: 375px) {
    .pic-text-left {
        font-size: 2vh;
        padding-top: 1vh;
        padding-right: 8vh;
    }
}
@media (min-width: 375px) {
    .pic-text-left {
        font-size: 2vh;
        padding-top: 2vh;
        padding-right: 8vh;
    }
}
@media (min-width: 576px) {
    .pic-text-left {
        font-size: 3vh;
        padding-top: 3vh;
        padding-right: 0vh;
    }
}
@media (min-width: 768px) {
    .pic-text-left {
        font-size: 3vh;
        padding-top: 3vh;
        padding-right: 0vh;
    }
}
@media (min-width: 1200px) {
    .pic-text-left {
        font-size: 4vh;
    }
}

.pic-tab-right {
    background-size: cover;
    background-color: white;
    width: 76px;
    height: 76px;
    border-radius: 20%;
    float: right;
}
@media (max-width: 375px) {
    .pic-tab-right {
        width: 50px;
        height: 50px;
    }
}
@media (min-width: 375px) {
    .pic-tab-right {
        width: 58px;
        height: 58px;
    }
}
@media (min-width: 576px) {
    .pic-tab-right {
        width: 68px;
        height: 68px;
    }
}
@media (min-width: 768px) {
    .pic-tab-right {
        width: 75px;
        height: 75px;
    }
}

.pic-text-right {
    font-size: 4vh;
    text-align: center;
    padding-top: 3vh;
    padding-left: 8vw;
    font-weight: bold;
    float:left;
}
@media (max-width: 375px) {
    .pic-text-right {
        font-size: 2vh;
        padding-top: 1vh;
        padding-left: 23vw;
    }
}
@media (min-width: 375px) {
    .pic-text-right {
        font-size: 2vh;
        padding-top: 1vh;
        padding-left: 18vw;
    }
}
@media (min-width: 576px) {
    .pic-text-right {
        font-size: 2vh;
        padding-top: 3vh;
        padding-left: 5vw;
    }
}
@media (min-width: 1200px) {
    .pic-text-right {
        font-size: 4vh;
    }
}

.pic-text-right-bottom {
    font-size: 4vh;
    text-align: center;
    padding-top: 3vh;
    padding-left: 6vw;
    font-weight: bold;
    float: left;
}
@media (max-width: 375px) {
    .pic-text-right-bottom {
        font-size: 2vh;
        padding-top: 1vh;
        padding-left: 22vw;
    }
}
@media (min-width: 375px) {
    .pic-text-right-bottom {
        font-size: 2vh;
        padding-top: 1vh;
        padding-left: 21vw;
    }
}
@media (min-width: 576px) {
    .pic-text-right-bottom {
        font-size: 3vh;
        padding-top: 3vh;
        padding-left: 4vw;
    }
}
@media (min-width: 1200px) {
    .pic-text-right-bottom {
        font-size: 4vh;
        padding-left: 5vw;
    }
}

.proj-text-left {
    font-size: 4vh;
    text-align: center;
    padding-top: 3vh;
    padding-left: 0vh;
    font-weight: bold;
}
@media (max-width: 375px) {
    .proj-text-left {
        font-size: 2vh;
        padding-top: 1vh;
        padding-right: 6vh;
    }
}
@media (min-width: 375px) {
    .proj-text-left {
        font-size: 2vh;
        padding-top: 2vh;
        padding-right: 6vh;
    }
}
@media (min-width: 576px) {
    .proj-text-left {
        font-size: 3vh;
        padding-top: 3vh;
        padding-right: 0vh;
    }
}
@media (min-width: 768px) {
    .proj-text-left {
        font-size: 3vh;
        padding-top: 3vh;
        padding-right: 0vh;
    }
}
@media (min-width: 1200px) {
    .proj-text-left {
        font-size: 4vh;
    }
}

.proj-text-right-bottom {
    font-size: 4vh;
    text-align: center;
    padding-top: 3vh;
    padding-left: 6vw;
    font-weight: bold;
    float: left;
}
@media (max-width: 375px) {
    .proj-text-right-bottom {
        font-size: 2vh;
        padding-top: 1vh;
        padding-left: 23vw;
    }
}
@media (min-width: 375px) {
    .proj-text-right-bottom {
        font-size: 2vh;
        padding-top: 1vh;
        padding-left: 25vw;
    }
}
@media (min-width: 576px) {
    .proj-text-right-bottom {
        font-size: 3vh;
        padding-top: 3vh;
        padding-left: 5vw;
    }
}
@media (min-width: 1200px) {
    .proj-text-right-bottom {
        font-size: 4vh;
        padding-left: 7vw;
    }
}

.contact-body {
    background: rgba(0,0, 0, 0.6);
    font-size: 2vw;
    position: relative;
    top: 25vh;
    width: 60vw;
    text-align: center;
    margin: auto;
    border-radius: 5%;
    justify-content: flex-end;
}
@media (max-width: 375px) {
    .contact-body {
        font-size: 8vw;
        width: 60vw;
    }
}
@media (min-width: 375px) {
    .contact-body {
        font-size: 8vw;
        width: 60vw;
    }
}
@media (min-width: 576px) {
    .contact-body {
        font-size: 7vw;
        width: 60vw;
    }
}
@media (min-width: 768px) {
    .contact-body {
        font-size: 2vw;
        width: 60Vw;
    }
}
@media (min-width: 1024px) {
    .contact-body {
        font-size: 2vw;
    }
}
@media (min-width: 1200px) {
    .contact-body {
        font-size: 2vw;
    }
}


/*.form-container{
    text-align:center;
    justify-content:center;
    position:relative;
    top:35vh;
    left:25vw;
}*/

.footer {
    /*Color scheme needs improving*/
    background-image: linear-gradient( to bottom, #000210, #161956);
    color: #ffffff;
    width: 100vw;
    height: 4vh;
    position: relative;
    text-align: right;
    padding-right: 30px;
}


